<!DOCTYPE html>
<html lang="en">

<head>
    <title>Medical record</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>

    <style type="text/css">
        body {
            background-color: #ececec;
        }

        body>.grid {
            height: 100%;
        }

        .column {
            max-width: 900px;
        }

        .welcome_text {
            font-size: 80px;
        }

    </style>
</head>

<body>

<div class="ui pointing menu huge">
    <a class="active orange item" href="{% url 'medrecord:index' %}">
        Home
    </a>
    <a class="item" href="{% url 'medrecord:save_patient' %}">
        Save data
    </a>
    <a class="item" href="{% url 'medrecord:open_record' %}">
        Open data
    </a>
</div>

<div class="ui middle aligned center aligned grid">

    <div class="column">
       <h2 class="ui orange header">
                <div class="content">
                    <h1 class="welcome_text">
                        Welcome!
                    </h1>
                </div>
            </h2>
    </div>
</div>
</body>

</html>