<!DOCTYPE html>
<html lang="en">

<head>
    <title>Medical record</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>

    <style type="text/css">
        body {
            background-color: #ececec;
        }

        body>.grid {
            height: 100%;
        }

        .column {
            max-width: 450px;
        }








    </style>
</head>

<body>

<div class="ui middle aligned center aligned grid">
    <div class="column">
        <div class="ui segment">
            <h2 class="ui orange header">
                <div class="content">
                    Medical record
                </div>
            </h2>
            <div class="field">
                <div class="ui grid">
                    <div class="eight wide column">
                        <a href="{% url 'medrecord:save_patient' %}" class="ui fluid large orange submit button" type="submit">Save patient</a>
                    </div>
                    <div class="eight wide column">
                        <a href="{% url 'medrecord:open_patient' %}" class="ui fluid large orange submit button" type="submit">Open patient</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>