<!DOCTYPE html>
<html lang="en">

<head>
    <title>Opened record</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>

    <style type="text/css">
        body {
            background-color: #ececec;
        }

        body>.grid {
            height: 100%;
        }

        .column {
            max-width: 80vw;
        }







    </style>


</head>

<body>

<div class="ui pointing menu huge">
    <a class="item" href="{% url 'medrecord:index' %}">
        Home
    </a>
    <a class="item" href="{% url 'medrecord:personal_info' %}">
        Save data
    </a>
    <a class="active orange item" href="{% url 'medrecord:open_record' %}">
        Open data
    </a>
</div>

<div class="ui middle aligned center aligned grid">
    <div class="column">

        <div class="ui segment">
            <table class="ui fixed celled striped top aligned table">
                <thead>
                <tr>
                    <th class="one wide">ID</th>
                    <th class="two wide">First name</th>
                    <th class="two wide">Last name</th>
                    <th class="two wide">PESEL</th>
                    <th class="two wide">Clinics</th>
                    <th class="five wide">Chronic conditions</th>
                    <th class="one wide center aligned">Delete</th>
                </tr>
                </thead>
                <tbody>
                {% for patient in patients %}
                <tr>
                    <td data-label="ID">{{patient.id}}</td>
                    <td data-label="First name">{{patient.first_name}}</td>
                    <td data-label="Last name">{{patient.last_name}}</td>
                    <td data-label="PESEL">{{patient.pesel}}</td>
                    <td data-label="Clinics">{{patient.clinics}}</td>
                    <td data-label="Chronic conditions">{{patient.chronic_conditions}}</td>
                    <td data-label="Delete" class="center aligned">
                        <a href="/medrecord/delete/{{ patient.id }}"><i class="trash alternate outline icon"></i></a>
                    </td>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</div>


</body>

</html>