<!DOCTYPE html>
<html lang="en">

<head>
    <title>Save patient</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>

    <style type="text/css">
        body {
            background-color: #ececec;
        }

        body>.grid {
            height: 100%;
        }

        .column {
            max-width: 450px;
        }

        .left-aligned-checkboxes {
             text-align: left;
        }






    </style>


</head>

<body>
<div class="ui pointing menu huge">
  <a class="item" href="{% url 'medrecord:index' %}">
    Home
  </a>
  <a class="active orange item" href="{% url 'medrecord:save_patient' %}">
    Save data
  </a>
  <a class="item" href="{% url 'medrecord:open_file' %}">
    Open data
  </a>
</div>
<div class="ui middle aligned center aligned grid">
    <div class="sixteen wide column">
        {% if messages %}
        {% for message in messages %}
        <div class="ui error message">
            <div class="header">
                {{ message }}
            </div>
        </div>
        {% endfor %}

        {% endif %}
        <div class="ui segment">

            <form class="ui large form" action="{% url 'medrecord:save_patient'%}" method="post">
                {% csrf_token %}

                <h2 class="ui orange header">
                    <div class="content">
                        Patient data
                    </div>
                </h2>
                <div class="field">
                    <div class="ui input">
                        <input type="text" step=any placeholder="First name" name="first_name" required>
                    </div>
                </div>
                <div class="field">
                    <div class="ui input">
                        <input type="text" step=any placeholder="Last name" name="last_name" required>
                    </div>
                </div>
                <div class="field">
                    <div class="ui input">
                        <input type="number" step=1 placeholder="PESEL" name="pesel" pattern="[0-9]{11}"
                               required>
                    </div>
                </div>
                <div class="field">
                    <div class="grouped fields left-aligned-checkboxes">
                        <label>Clinics</label>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="cardiology" value="cardiology">
                                <label>Cardiology</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="dentist" value="dentist">
                                <label>Dentist</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="orthopedic" value="orthopedic">
                                <label>Orthopedic</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="dermatology" value="dermatology">
                                <label>Dermatology</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field">

                    <textarea class="ui" rows="2" placeholder="Chronic conditions" name="chronic_conditions"></textarea>
                </div>

                <div class="field">
                    <div>
                        <label for="file" class="ui icon fluid button">
                            <i class="file icon"></i>
                            Choose File</label>
                        <input type="file" id="file" name="file_path" style="display:none">
                    </div>
                </div>
                <button class="ui fluid large orange submit button" type="submit">Save data</button>

            </form>
        </div>
        <a href="{% url 'medrecord:index' %}">Go back to main page</a>
    </div>

</div>


</body>

</html>